:root {
	--background-color: #ffffff;
	--text-color: #000000;
}

.dark-mode {
	--background-color: #000000;
	--text-color: #ffffff;
}
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Courier New', Courier, monospace;
}
body {
	background-color: var(--background-color);
	color: var(--text-color);
	transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

#textBox {
	font-size: 8px;
	line-height: 6px;
	margin: 0;
	padding: 0;
	white-space: pre;
}
canvas {
	display: block;
}
